{% extends 'blog/basic.html' %} {% block body %}
<div class="container">
    <div class="row " style="margin-top: 60px">
        <div class="col-md-8 blog-main">
            <br>
              Post No-  ({{post.post_id}}) 
            <br>
            <br>
            <h3 class="font-italic">
              {{post.title}}
            </h3>

            <div class="row ">
                <div class=" p-4">
                    <p class="blog-post-meta">{{post.pub_date}} </p>
                    <h6 class="blog-post-title">{{post.message}}</h6>
                    <p>By - {{post.name}}</p>
                </div>



                <div class="col-auto d-none d-lg-block">
                    <img src="/media/{{post.thumbnail}}" class="bd-placeholder-img" width="200" height="250" aria-label="Placeholder: Thumbnail" />

                </div>
                
            </div>
            <br>
            <br>
            <h4>Post Your Comment Here...</h4>
            <form action="" method="post">
            
                    {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" style="width: 100%" id="name" name='name' placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                        <label for="name">Comment Id</label>
                        <input type="text" class="form-control" style="width: 100%" id="commentId" name='commentId' placeholder="Comment for Post NO..">
                    </div>
                <div class="form-group">
                    <label for="message">Comment</label>
                    <textarea class="form-control" style="width: 100%" id="desc" name='desc' placeholder="Write Your Comment.." rows="3"></textarea>
                </div>
                <button onclick="myFunction()" type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        
        <aside class="col-md-4 my-5 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">Local Bazar <em>started out as a small project and is now</em> the fastest growing e-commerce stores of all times in india and abroad.</p>
                <div class="my-3 fb-share-button" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fblog%2Fblogpost%2F4&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside>

    </div>
    <br>

    <div>
            <h4>Comment Posted</h4>
            {% for sts in posts %}
           <h6>Comments for Post No- {{sts.commentId}}</h6>
           <p>Posted Date - {{sts.pub_date}}</p>
            <p>Comment - {{sts.desc}}</p>
            <p>Posted By- {{sts.name}}</p>
            
            <hr>
          
        {% endfor %}
        </div>
</div>

{% endblock %}