{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSAAjW7izIPeTR706KOBDXRVtoyXLYkii72NU3Zy7it5nPUDaHA&usqp=CAU" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <link rel='stylesheet' href="{% static 'style.css' %}">
    <link rel='stylesheet' href="{% static 'index.css' %}">

    <style>
        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 70px;
            height: 70px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        /* Add animation to "page content" */
        
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }
        
        @-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0px;
                opacity: 1
            }
        }
        
        @keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0;
                opacity: 1
            }
        }
        
        #myDiv {
            display: none;
           
        }

    </style>

    <title>{% block title%} {% endblock %}</title>

</head>

<body onload="myFunction()" style="margin:0;">
    <div id="loader">
            
    </div>
    <div style="display:none;" id="myDiv" class="animate-bottom" class="wrapper">
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <img id="shops" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSAAjW7izIPeTR706KOBDXRVtoyXLYkii72NU3Zy7it5nPUDaHA&usqp=CAU">

                <h3>Local Bazar</h3>
            </div>
            <ul class="list-unstyled components">
                {% if user.is_authenticated %}
                <p>Welcome {{request.user.username}}</p>
                {% endif %}
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Electronics</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Phone</a>
                        </li>
                        <li>
                            <a href="#">Laptop</a>
                        </li>
                        <li>
                            <a href="#">AC</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Cloths</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/shop/registers">Men Cloths</a>
                        </li>
                        <li>
                            <a href="#">Women Cloths</a>
                        </li>
                        <li>
                            <a href="#">Kids Cloths</a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="#pageSubmen" data-toggle="collapse" aria-expanded="false">Shoes</a>
                    <ul class="collapse list-unstyled" id="pageSubmen">
                        <li>
                            <a href="#">For Women</a>
                        </li>
                        <li>
                            <a href="#">For Man</a>
                        </li>
                        <li>
                            <a href="#">For Kids</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/shop/about">About Us</a>
                </li>
                <li>
                    <a href="/shop/tracker">Tracker</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a onclick="myFunct()" href="/shop/contact">Contact Us</a>
                </li>
                <li>
                    <a href="#page" data-toggle="collapse" aria-expanded="false">Setting</a>
                    <ul class="collapse list-unstyled" id="page">
                        <li>
                            <a href="/shop/registers">Shop Registration</a>
                        </li>
                        <li>
                            {% if user.is_authenticated %}

                            <a href="{% url 'logout' %}">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>logout
                            </a>
                        </li>
                        {% else %}
                        <li>

                            <a href="{% url 'register' %}">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> Signup
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">
                                <i class="fas fa-sign-in-alt"></i>Login
                            </a>
                        </li>


                        {% endif %}
                    </ul>
                </li>



            </ul>
        </nav>

        <header class="section-header fixed-top">
            <section class="header-main border-bottom">
                <div class="container-fluid">
                    <div class="row align-items-center">

                        <div class="col-lg-3 col-sm-4 col-md-4 col-5">
                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                <i class="fas fa-align-left"></i>

                            </button>
                        </div>

                        <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">

                            <form method='get' action='/shop/search/' class="form-inline search-wrap">
                                <div class="input-group w-100"> <input type="text" class="form-control search-form" style="width:55%;" placeholder="Search" aria-label="Search" name="search" id="search">
                                    <div class="input-group-append"> <button class="btn btn-primary search-button" type="submit"> <i class="fa fa-search"></i> </button> </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5 col-xl-4 col-sm-8 col-md-4 col-7">
                            <div class="d-flex justify-content-end">
                                <div class="dropdown btn-group"> <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-abc="true"><i class="fas fa fa-bell"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                        <li>
                                            <div class="notification-title">Notifications</div>
                                            <div class="notification-list">
                                                <div class="list-group">

                                                    <a href="#" class="list-group-item list-group-item-action active" data-abc="true">
                                                        <div class="notification-info">
                                                            <div class="notification-list-user-img"><img src="https://img.icons8.com/ultraviolet/100/000000/medal.png" alt="" class="user-avatar-md rounded-circle"></div>
                                                            <div class="notification-list-user-block"><span class="notification-list-user-name">Achievements</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="/shop/contact/" class="list-group-item list-group-item-action active" data-abc="true">
                                                        <div class="notification-info">
                                                            <div class="notification-list-user-img"><img src="https://img.icons8.com/bubbles/100/000000/call-female.png" alt="" class="user-avatar-md rounded-circle"></div>
                                                            <div class="notification-list-user-block"><span class="notification-list-user-name">Contact
                                                                    us</span> </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <a class="btn btn-secondery" id="popcart" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
                                          sagittis lacus vel augue laoreet rutrum faucibus.">
                                    <span id="cart"></span> 🛒</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <nav id="margin" class="navbar navbar-expand-md navbar-main border-bottom navbar-dark bg-dark">
            <div class="container-fluid">
                <form method='get' action='/shop/search/' class="d-md-none ">
                    <div class="input-group"> <input type="search" name="search" class="form-control" placeholder="Search" required="" id="search">
                        <div class="input-group-append"> <button type="submit" class="btn btn-secondary"> <i
                                    class="fa fa-search"></i> </button> </div>
                    </div>
                </form> <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#dropdown6" aria-expanded="false"> <span class="navbar-toggler-icon"></span> </button>

                <div class="navbar-collapse collapse" id="dropdown6">
                    <ul class="navbar-nav mr-auto">
                        <img id="shop" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSAAjW7izIPeTR706KOBDXRVtoyXLYkii72NU3Zy7it5nPUDaHA&usqp=CAU">

                        <a class="navbar-brand" href="/shop">Local Bazar</a>

                        <li class="nav-item dropdown"> <a class="nav-link" href="" data-toggle="dropdown" data-abc="true" aria-expanded="false">Laptops</a>
                            <div class="dropdown-menu"> <a class="dropdown-item" href="" data-abc="true">Lenovo</a> <a class="dropdown-item" href="" data-abc="true">Dell</a> <a class="dropdown-item" href="" data-abc="true">HP</a> <a class="dropdown-item" href="" data-abc="true">Apple</a>
                                <a class="dropdown-item" href="" data-abc="true"> Razer</a><a class="dropdown-item" href="" data-abc="true">Microsoft Laptops</a><a class="dropdown-item" href="" data-abc="true">Acer Laptops</a><a class="dropdown-item"
                                    href="" data-abc="true">Samsung</a>
                                <a class="dropdown-item" href="" data-abc="true">Asus Laptops</a><a class="dropdown-item" href="" data-abc="true">Chromebook</a> </div>

                        </li>
                        <li class="nav-item dropdown"> <a class="nav-link" href="" data-toggle="dropdown" data-abc="true" aria-expanded="false">Phone</a>
                            <div class="dropdown-menu"> <a class="dropdown-item" href="" data-abc="true">Iphone</a> <a class="dropdown-item" href="" data-abc="true">Samsung</a> <a class="dropdown-item" href="" data-abc="true">Oppo</a> <a class="dropdown-item" href="" data-abc="true">Vivo</a>
                                <a class="dropdown-item" href="" data-abc="true">Mi</a><a class="dropdown-item" href="" data-abc="true">Nokia</a><a class="dropdown-item" href="" data-abc="true">Motorola</a><a class="dropdown-item" href="" data-abc="true">Samsung</a>
                                <a class="dropdown-item" href="" data-abc="true">one plus</a><a class="dropdown-item" href="" data-abc="true">Google pixal</a> </div>

                        </li>
                        <li class="nav-item"> <a class="nav-link" href="" data-abc="true">Refurbished Mobile</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="" data-abc="true">Accessories & Peripheral</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


        <div class="overlay"></div>




        {% block body %} {% endblock %}


        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        {% block js %} {% endblock %}

        <a href="#" onclick="topFunction()" id="scroll" style="display: none;"><span></span></a>

        <script>
            $(document).ready(function() {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });
                $('#dismiss, .overlay').on('click', function() {
                    $('#sidebar').removeClass('active');
                    $('.overlay').removeClass('active');
                });
                $('#sidebarCollapse').on('click', function() {
                    $('#sidebar').addClass('active');
                    $('.overlay').addClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
        <script>
            var mybutton = document.getElementById("scroll");

            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

            var myVar;

            function myFunction() {
                myVar = setTimeout(showPage, 500);
            }

            function showPage() {
                document.getElementById("loader").style.display = "none";
                document.getElementById("myDiv").style.display = "block";
            }
        </script>
</body>

</html>