{% extends 'shop/basic.html' %}
{% block title%} Local Bazar Tracker{% endblock %}
{% block body %}
<div class="container">

    <div class="col my-4">

        <h2>Payment status </h2>

        {% if response.RESPCODE == '01' %}


        <h6>Your Order Id - {{response.ORDERID}}</h6>
        <div>
            <h6>Total Amount - {{response.TXNAMOUNT}}</h6>
        </div>
        <div>
            <h6> Payment Status - {{response.STATUS}}</h6>
        </div>
        <div>
            <h6>Bank Details - {{response.BANKTXNID}}</h6>
        </div>
        <div>
            <h6>Order Date - {{response.TXNDATE}}</h6>
        </div>
        <div>
            <h6>Bank Name - {{response.BANKNAME}}</h6>
        </div>
        <div>
            <h6>Payment Mode - {{response.GATEWAYNAME}}</h6>
        </div>
        <a href="/shop/"><button class="btn btn-primary mx-3">Go Back</button></a>



        </table>
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
        <script src="sweetalert2.min.js"></script>
        <link rel="stylesheet" href="sweetalert2.min.css">
        <script>
            Swal.fire(
                'Good job!',
                'You have Sucessfull Ordered',
                'success'
            )
        </script>
        {% else %}
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
                footer: '<a href>Why do I have this issue?</a>'
            })
        </script>
        {% endif%}

    </div>

</div>
{% endblock %}
{% block js %}
<script>


</script>
{% endblock %}