{% extends 'shop/basic.html' %} {% block title%} Registration {% endblock %} {% block body %}
<div class="container my-3">
    <h3>Register Your Shop</h3>
    {% if user.is_authenticated %}
    <form action="/shop/registers/" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="name">Shop Name</label>
            <input type="text" class="form-control" style="width: 100%" id="shop_name" name='shop_name' placeholder="Enter Your Shop Name">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" style="width: 100%" id="name" name='name' placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" style="width: 100%" id="email" name='email' placeholder="Enter Your Email">
        </div>

        <div class="form-group">
            <label for="name">Phone</label>
            <input type="tel" class="form-control" style="width: 100%" id="phone" name='phone' placeholder="Enter Your Phone Number">
        </div>


        <div class="form-group">
            <label for="desc">Write About Your Product</label>
            <textarea class="form-control" style="width: 100%" id="desc" name='desc' rows="3"></textarea>
        </div>
        <button onclick="myFunction()" type="submit" class="btn btn-success">Submit</button>
    </form>
    {% else %}
<style>
.mar{
    margin-top: 100px;
}
</style>
    
    
    <h4 style="text-align: center" class="mar">For register your shop Frist you have to Login....</h4>
    {% endif %}


</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<script>
function myFunction() {
    Swal.fire(
  'Good job!',
  'You have Sucessfull register your shop',
  'success'
)

}



</script>
{% endblock %}